<ion-content [fullscreen]="true">
  <section style="display: grid; grid-template-rows: 120px 1fr; height: 100vh;">

    <section style="border: 2px solid green;"></section>

    <section style="display: grid; grid-template-columns: 60px 1fr; height: 100%; align-items: stretch;">
      <section style="border: 2px solid green;">
        <div *ngFor="let page of appPages" (click)="processNavigateToPage(page)">
          {{ page.title }}
        </div>
      </section>
      <section style="border: 2px solid green;">
        <router-outlet></router-outlet>
      </section>
    </section>
  </section>
</ion-content>